.container__header {
    max-width: 1320px;
    margin: 0 auto;

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    // background-color: #e78282;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgb(0, 68, 255);
    z-index: 2;
}

.header__logo {
    // так через flex задается размер картинки
    flex: 0 0 110px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    z-index: 3;
}

.header__logo img {
    max-width: 100%;
    display: block;
}

.header__body-row {
    position: relative;
    // z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    // background-color: #82bfe7;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__link {
    color: #4B321D;
    font-size: 18px;
    line-height: 28.8px;
}

.header__li a {
    margin: 0 0 0 36px;
}

.header__menu {
    margin-right: 283px;
}

.header__burger {
    display: none;
}

.content__page {
    /* отступим контентом вниз, т к шапка накрыла его часть (выйдем из-под шапки) */
    padding: 124px 0 0 0;
}

/* адаптив */
@media (max-width: 769px) {
    body.unscroll {
        overflow: hidden;
    }

    .header__burger {
        // кнопка
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__logo {
        flex: 0 0 90px;
    }

    .header__body-row {
        height: 50px;
    }

    .header__burger span {
        background-color: #e90c0c;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: #e90c0c;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        background-color: #11abe7;
        padding: 60px 10px 20px 10px;
        transition: all .5s ease-in;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
    }

    .header__list li {
        margin: 0 0 20px 0;
    }

    .content {
        padding: 70px 0 0 0;
    }
}