@media (max-width: 1025px) {
  .header__body-row {
    justify-content: space-evenly;
  }
  .content__page {
    padding: 80px 0 0 0;
  }
  .creating {
    font-size: 53px;
    line-height: 75px;
    margin: 0 111px 80px 60px;
  }
  .help {
    font-size: 53px;
    line-height: 75px;
  }
}
