$font-main: 'Poppins', sans-serif;
// $body-color:#e4e458;
$body-color:#F1F1EB;
// $main-color: #e66b07;
$main-color: #4B321D;
// $desktop-width: 1440px;
// $main-container: 1900px;
$main-container: 1440px;
$padding-main-container:20px;
